body{
    background-color: #252525;
}

#loading-info {
    
    text-align: center;
    margin: auto;
    color: white;
    width: 60%;
    top: 6em;
}

#loading-info p{
    font-size: 2em;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}